.card {
    margin: 20px auto;
    max-width: 600px;
    border: 2px solid #6d6d6d;
    border-radius: 20px;
    padding: 20px;
}

.card__like {
    text-align: left;
}

.card__image {
    max-width: 600px;
}